<div class="input-group mb-2 mr-sm-2">
  <div class="input-group-prepend">
    <div class="input-group-text">Name</div>
  </div>
  <input
    type="text"
    class="form-control"
    name="name"
    placeholder="Author's name"
    value="<%= author.name %>"
  />
</div>
